GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...","client_id":"...","token_uri":"https://oauth2.googleapis.com/token"}
SPREADSHEET_ID=1YkAZrVo1xnjQ7GvAiPIU8OTaqHw9ZvxZCrR9lZqEHSE
SHEET_NAME=Project Sheet
TICKER_COL=1
DATA_START_ROW=2
MAX_TICKERS=25
CONCURRENCY=5
REQUEST_TIMEOUT_MS=12000
RETRY_COUNT=2
OTC_SKIP_TICKERS=AAGR,AAPJ,ABSOF,ADYRF

